<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Auditoría</title>
        <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon-blue.png">

        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="../public/stylesheets/admin/adminList.css">
        <link rel="stylesheet" href="../public/stylesheets/admin/adminAuditoria.css">

        <script type="text/javascript" src="../public/scripts/admin/adminAuditoria.js"></script>
        <script type="text/javascript" src="../public/scripts/conection.js"></script>

    </head>

    <body class="container">
        <%- include('../layouts/header'); %>
            <div class="div-main">
                <div class="div-header">
                    <button id="btn-regresar" class="button-blue-transparente-blue-border" onclick="goBack()">< Regresar</button>
                    <h2>Auditoría</h2>
                </div>
                <div class="div-content">
                    <div class="text-container">
                        
                    </div>
                </div>
            </div>
        <script type="text/javascript" src="../public/scripts/admin/headerAdmin.js"></script>
    </body>

</html>