<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Admin - Clientes</title>
        <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon.png">

        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="../public/stylesheets/admin/adminList.css">
        <link rel="stylesheet" href="../public/stylesheets/admin/adminAuditoria.css">

        <script type="text/javascript" src="../public/scripts/admin/adminAuditoria.js"></script>
        <script type="text/javascript" src="../public/scripts/conection.js"></script>

    </head>

    <body class="container">
        <%- include('../layouts/header'); %>
            <div class="div-main">
                <div class="div-header">
                    <button id="btn-regresar" class="button-blue-transparente-blue-border" onclick="goBack()"><</button>
                    <h2>Auditoria</h2>
                </div>

                <div class="div-content">
                    <p>algo</p>
                </div>
            </div>
    </body>

</html>