<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Cotizaciones</title>
        <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon-blue.png">

        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="../public/stylesheets/admin/adminList.css">

        <script type="text/javascript" src="../public/scripts/admin/adminCotizaciones.js"></script>
        <script type="text/javascript" src="../public/scripts/conection.js"></script>

    </head>

    <body class="container">
        <%- include('../layouts/header'); %>

            <main id="tabla-plan-soat">
                <h2>Cotizaciones de seguro vehicular</h2>
                <div id="control-bar">
                    <div id="control-bar-button">
                    </div>
                    <div id="control-bar-search">
                        <img src="../public/resources/icons/Accessibility.png" alt="Buscar">
                        <input id="txt-buscar" type="text" placeholder="Buscar">
                    </div>
                </div>
                <table id="tableID" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Placa</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th>Herramientas</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>

            </main>
        <script type="text/javascript" src="../public/scripts/admin/headerAdmin.js"></script>
    </body>

</html>