<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Clientes</title>
        <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon-blue.png">

        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="../public/stylesheets/admin/adminList.css">

        <script type="text/javascript" src="../public/scripts/admin/adminListaNegra.js"></script>
        <script type="text/javascript" src="../public/scripts/conection.js"></script>

    </head>

    <body class="container">
        <%- include('../layouts/header'); %>

            <main id="tabla-plan-soat">
                <h2>Lista Negra</h2>
                <div id="control-bar">
                    <div id="control-bar-button">
                        
                        <button class="button-blue-transparente-blue-border" id="btn-carga-masiva">
                            + Carga masiva de lista negra
                        </button>

                        <input class="custom-file-input-label" type="file" id="btn-masiva" accept=".csv" display="none">

                        <button class="button-blue-transparente-blue-border" id="btn-reporte">
                            Reporte de lista negra
                        </button>

                    </div>
                    <div id="control-bar-search">
                        <img src="../public/resources/icons/Accessibility.png" alt="Buscar">
                        <input id="txt-buscar" type="text" placeholder="Buscar">
                    </div>

                </div>
                <%- include('../layouts/pagination'); %>
                    <table id="tableID" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Tipo Doc</th>
                                <th>Número Doc</th>
                                <th>Nombre Completo</th>
                                <th>Motivo</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">

                        </tbody>
                    </table>

            </main>

    </body>

</html>