<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Seguros</title>
    <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon.png">

    <link rel="stylesheet" href="../public/stylesheets/header.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/admin/adminLogin.css">

    <script type="text/javascript" src="../public/scripts/admin/adminLogin.js"></script>
</head>

<body class="container">
    
    <div>
        <img src="../public/resources/logos/Logo.png" alt="Logo">
        <h2>Iniciar Sesi칩n</h2>
        <label>Usuario</label>
        <input type="text" id="txt-usuario" name="user" placeholder="Usuario">
        <label>Contrase침a</label>
        <input type="password" id="txt-usuario" name="password" placeholder="Contrase침a">
        <button id="button-login" class="button-red">Iniciar Sesi칩n</button>
    </div>

</html>