<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin - Iniciar sesi칩n</title>
    <link rel="icon" type="image/x-icon" href="/public/resources/icons/page-icon.png">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/admin/adminLogin.css">
    <script type="text/javascript" src="../public/scripts/conection.js"></script>

</head>

<body class="container">
<%- include('../layouts/headerSimple'); %>

<main class="main-container">
    <div class="content-container">
        <h1>Iniciar sesi칩n</h1>
        <div class="bloque-items-input">
            <div class="item-registro">
                <h3>Usuario</h3>
                <input placeholder="Ingresar usuario" id = "txt-usuario" ></input>
            </div>
            <div class="item-registro">
                <h3>Contrase침a</h3>
                <input type="password" placeholder="Ingrese contrase침a" id = "txt-contrasena" ></input>
            </div>
        </div>
        <div class="botones-registro">
            <button id="button-login" class="button-red">Ingresar</button>
        </div>
    </div>
    <script type="text/javascript" src="../public/scripts/admin/adminLogin.js"></script>
</main>

<%- include('../layouts/footer'); %>
</body>

</html>

