<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Seguro Vehicular</title>
    <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon-blue.png">

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/admin/adminList.css">
    <link rel="stylesheet" href="../public/stylesheets/modal.css">

    <script type="text/javascript" src="../public/scripts/admin/adminSeguroVehicular.js"></script>
    <script type="text/javascript" src="../public/scripts/conection.js"></script>
    <script type="text/javascript" src="../public/scripts/modal.js"></script>

</head>

<body class="modal-container">
    <div class="modal-overlay" id="modalOverlay">
        <div class="modal-main">
            <h2>Detalles</h2>
            <label for="txt-beneficio">Beneficio</label>
            <input type="text" id="txt-beneficio" placeholder="Ingresar beneficio">
            <label for="txt-monto">Precio</label>
            <input type="text" id="txt-monto" placeholder="Ingresar precio" oninput="validateNumericInput(this)">
            <div class="modal-buttons">
                <button id="btn-modal-cancelar" >Cancelar</button>
                <button id="btn-modal-guardar">Guardar</button>
            </div>

        </div>
    </div>
        <%- include('../layouts/header'); %>

        <main id="tabla-plan-soat">
            <h2>Beneficios de Seguro Vehicular</h2>
            <div id="control-bar">
                <div id="control-bar-button">
                    <button class="button-blue-transparente-blue-border" id="btn-nuevo" ">
                        + Agregar nuevo
                    </button>
                </div>
                <div id="control-bar-search">
                    <img src="../public/resources/icons/Accessibility.png" alt="Buscar">
                    <input id="txt-buscar" type="text" placeholder="Buscar">
                </div>
            </div>

            <table id="tableID" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Herramientas</th>
                    </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
            <%- include('../layouts/pagination'); %>
        </main>
    <script type="text/javascript" src="../public/scripts/admin/headerAdmin.js"></script>
</body>

</html>