<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Vehiculos</title>
    <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon.png">

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/admin/adminVehiculo.css">

    <script type="text/javascript" src="../public/scripts/admin/adminVehiculo.js"></script>
    <script type="text/javascript" src="../public/scripts/conection.js"></script>

</head>

<body class="container">
    <%- include('../layouts/header'); %>

    <main id="tabla-plan-soat">
        <h2>Vehiculos</h2>
        <div id="control-bar">
            <div id="control-bar-button">
                <button class="button-blue-transparente-blue-border" id="btn-nuevo">
                    + Agregar nuevo
                </button>
            </div>
            <div id="control-bar-search">
                <img src="../public/resources/icons/Accessibility.png" alt="Buscar">
                <input id="txt-buscar" type="text" placeholder="Buscar">
            </div>
        </div>
        <table id="tableID" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Dueño</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody id="table-body">
                
            </tbody>
        </table>
    
    </main>
</body>
</html>