<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title>Ventas</title>
        <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon-blue.png">

        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="../public/stylesheets/admin/adminList.css">
        <link rel="stylesheet" href="../public/stylesheets/modal.css">


        <script type="text/javascript" src="../public/scripts/admin/adminVentas.js"></script>
        <script type="text/javascript" src="../public/scripts/conection.js"></script>
        <script type="text/javascript" src="../public/scripts/modal.js"></script>


    </head>

    <body class="container">
        <%- include('../layouts/header'); %>
        <div class="modal-overlay" id="modalOverlay">
            <div class="modal-main">
                <h2>Reporte de Ventas</h2>
                <label for="txt-fehca-inicio">Fecha Inicio</label>
                <input type="date" id="txt-fecha-inicio" placeholder="Ingresar fecha inicio">
                <label for="txt-fehca-fin">Fecha Fin</label>
                <input type="date" id="txt-fecha-fin" placeholder="Ingresar fecha fin">
                
                <div class="modal-buttons">
                    <button id="btn-modal-cancelar">Cancelar</button>
                    <button id="btn-modal-guardar">Descargar</button>
                </div>
            </div>
        </div>
            <main id="tabla-plan-soat">
                <h2>Ventas SOAT</h2>
                <div id="control-bar">
                    <div id="control-bar-button">
                        
                        <button class="button-blue-transparente-blue-border" id="btn-carga-masiva">
                            + Carga masiva de SOAT vigentes
                        </button>

                        <button class="button-blue-transparente-blue-border" id="btn-nuevo">
                            Reporte de ventas
                        </button>

                        <input class="custom-file-input-label" type="file" id="btn-masiva" accept=".csv" display="none">
                    </div>
                    <div id="control-bar-search">
                        <img src="../public/resources/icons/Accessibility.png" alt="Buscar">
                        <input id="txt-buscar" type="text" placeholder="Buscar">
                    </div>
                </div>

                <table id="tableID" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tipo Doc</th>
                            <th>Documento</th>
                            <th>Cliente</th>
                            <th>Placa</th>
                            <th>Plan SOAT</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                            <th>Herramientas</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>
                <%- include('../layouts/pagination'); %>
            </main>
        <script type="text/javascript" src="../public/scripts/admin/headerAdmin.js"></script>
    </body>

</html>