<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Union Seguros - Iniciar sesión</title>
    <link rel="icon" type="image/x-icon" href="public/resources/icons/page-icon.png">
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="stylesheet" href="public/stylesheets/SOAT.css">
    <link rel="stylesheet" href="public/stylesheets/client/iniciarSesion.css">
</head>

<body class="container">
<%- include('../layouts/headerSimple'); %>

<main>
    <div class="main-container">
        <div class="content-container">
            <h1>Iniciar sesión</h1>
            <div class="bloque-items-input">
                <div class="item-registro">
                    <h3>Número de Documento</h3>
                    <input placeholder="Ingresar número" id = "txt-documento" oninput="validateNumericInput(this)" ></input>
                </div>
                <div class="item-registro">
                    <h3>Contraseña</h3>
                    <input type="password" placeholder="Ingrese contraseña" id = "txt-contrasena" ></input>
                </div>
            </div>
            <div class="botones-registro">
                <button id="registro-btn" onclick="window.location.href='/login'" class="button-red-transparente-red-border">Registrarse</button>
                <button id="ingresar-btn" onclick="window.location.href='/usuarioo'" class="button-red">Ingresar</button>
            </div>
        </div>
    </div>
    <script src="public/scripts/client/login.js"></script>
</main>

<%- include('../layouts/footer'); %>
</body>

</html>


