<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pantalla login</title>
    <link rel="icon" type="image/x-icon" href="public/resources/icons/page-icon.png">

    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="stylesheet" href="public/stylesheets/client/progressBar.css">
    <link rel="stylesheet" href="public/stylesheets/client/login.css">
    <link rel="stylesheet" href="public/stylesheets/client/form.css">


   <script src="public/scripts/client/login.js"></script>
</head>

<body>
<%- include('../layouts/headerSimple'); %>

<main>
    <div class="form-container">
        <div class="form-container-contol">
            <div class="progress-bar">
                <ol class="ProgressBar">
                    <li class="ProgressBar-step is-current">
                        <svg class="ProgressBar-icon">
                            <use xlink:href="public/resources/icons/checkmark.circle.svg" />
                        </svg>
                        <span class="ProgressBar-stepLabel">Registrarme</span>
                    </li>
                    <li class="ProgressBar-step is-current">
                        <svg class="ProgressBar-icon">
                            <use xlink:href="public/resources/icons/checkmark.circle.svg" />
                        </svg>
                        <span class="ProgressBar-stepLabel">Datos personales</span>
                    </li>
                    <li class="ProgressBar-step">
                        <svg class="ProgressBar-icon">
                            <use xlink:href="public/resources/icons/checkmark.circle.svg" />
                        </svg>
                        <span class="ProgressBar-stepLabel">Ingresar Correo</span>
                    </li>
                    <li class="ProgressBar-step">
                        <svg class="ProgressBar-icon">
                            <use xlink:href="public/resources/icons/checkmark.circle.svg" />
                        </svg>
                        <span class="ProgressBar-stepLabel">Validar Correo</span>
                    </li>
                    <li class="ProgressBar-step">
                        <svg class="ProgressBar-icon">
                            <use xlink:href="public/resources/icons/checkmark.circle.svg" />
                        </svg>
                        <span class="ProgressBar-stepLabel">Finalizado</span>
                    </li>
                </ol>
            </div>
        </div>
        <div class="form-container-content">
            <div class="form-content-item">
                <button id="previous" class="button-red">Regresar</button>
            </div>
    
            <div class="form-registro form-content-item">
                <div class="content">
                    <h1>Registrarme</h1>
                    <div class="form-inputs">
                        <div class="form-line">
                            <div class="form-item">
                                <h3>Tipo de Documento</h3>
                                <select id = "select-documento">
                                    <option value="" disabled selected>Seleccione</option>
                                    <option value="1">DNI</option>
                                    <option value="2">CE</option>
                                    <option value="3">RUC</option>
                                </select>
                            </div>
    
                        </div>
                        <div class="form-line">
                            <div class="form-item">
                                <h3>Número de Documento</h3>
                                <input placeholder="Ingrese número" id = "txt-docNum" maxlength="20"></input>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
            </div>
    
    
            <div class="form-correo form-content-item">
                <div class="content">
                    <h1>Ingresar correo electrónico</h1>
                    <div class="form-inputs">
                        <div class="form-line">
                            <div class="form-item">
                                <h3>Correo electrónico</h3>
                                <input placeholder="Ingrese correo" id = "txt-correo" maxlength="20"></input>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
            </div>
    
            <div class="form-validacion form-content-item">
                <div class="content">
                    <h1>Validar correo</h1>
                    <div class="form-inputs">
                        <div class="form-line">
                            <div class="form-item">
                                <h3>Ingresar PIN</h3>
                                <input placeholder="Ingrese PIN" id = "txt-PIN" maxlength="20"></input>
                                <p>Ingrese el PIN de 6 dígitos que enviamos a tu correo.</p>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
            </div>

            <div class="form-result form-content-item">
                <div class="form-result-contect">
                    <h1>¡Tu cuenta fue creada con exito!</h1>
                    <p>Se ha sido enviado a su correo electrónico la contraseña para ingresar a su cuenta. Podrás cambiarla más adelante</p>
                </div>
            </div>
    
            <div class="form-content-item">
                <button id="advance" class="button-red">Continuar</button>
            </div>
    
        </div>
    </div>
</main>

<%- include('../layouts/footer'); %>
</html>