<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mi Cuenta</title>

    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/client/usuarioMiCuenta.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script type="text/javascript" src="../public/scripts/conection.js"></script>


</head>

<body class="container">
    <%-include('../layouts/headerUsuario'); %>
        <main>
            <section class="user-info-container">
            <div class="content-container">
                <div id="content-container-item-regresar" class="content-container-item">
                    <button id="regresar" class="button-previous">Regresar</button>
                </div>

                <div class="form-inputs">
                    <h2>Mi cuenta</h2>
                    <p >Mantén tu información actualizada...</p>
                    <div class="form-line">
                        <div class="form-item">
                            <h3>Nombres y Apellidos</h3>
                            <input id="txt-nombre" type="text" placeholder="Nombre de usuario" readonly></input>
                        </div>
                        <div class="form-item">
                            <h3>Fecha de Nacimiento</h3>
                            <input id="txt-fecha-nacimiento" type="text" placeholder="dd/mm/aaaa" readonly></input>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <h3>Correo Electrónico</h3>
                            <input id="txt-correo" type="text" placeholder="Correo de usuario" readonly></input>
                        </div>
                        <div class="form-item">
                            <h3>Teléfono</h3>
                            <input id="txt-telefono" type="text" placeholder="Teléfono usuario" readonly></input>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <h3>Dirección Domiciliaria</h3>
                            <input id="txt-departamento" type="text" placeholder="Departamento" readonly></input>
                        </div>
                        <div class="form-item">
                            <h3>   </h3>
                            <input id="txt-provincia" type="text" placeholder="Provincia" readonly></input>
                        </div>
                        <div class="form-item">
                            <h3>   </h3>
                            <input id="txt-distrito" type="text" placeholder="Distrito" readonly></input>
                        </div>
                        <div class="form-item">
                            <h3>   </h3>
                            <input id="txt-dirección" type="text" placeholder="Dirección usuario" readonly></input>
                        </div>
                    </div>
                    
                   

                </div>

                <div class="form-line">
                    <div class="content-container-item-bottom">
                        <button id="btn-cambiarContrasena" class="button-red">Cambiar Contraseña</button>
                        <button id="btn-actualizar" class="button-red">Actualizar Datos</button>
                    </div>
                    
                </div>

                

            </div>




            </section>

        </main>
        <%- include('../layouts/footer'); %>
    <script type="text/javascript" src="../public/scripts/client/usuarioMiCuenta.js"></script>
    <script type="text/javascript" src="../public/scripts/client/headerUsuario.js"></script>

</body>
</html>