<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mi Cuenta</title>

    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/client/usuarioMiCuentaEditar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script type="text/javascript" src="../public/scripts/conection.js"></script>


</head>

<body class="container">
    <%-include('../layouts/headerUsuario'); %>
        <main>
            <section class="user-info-container">
            <div class="content-container">
                <div id="content-container-item-regresar" class="content-container-item">
                    <button id="regresar" class="button-previous">Regresar</button>
                </div>

                <div class="form-inputs">
                    <h2>Mi cuenta</h2>
                    <p >Mantén tu información actualizada...</p>
                    <div class="form-line">
                        <div class="form-item">
                            <h3>Nombres y Apellidos</h3>
                            <input id="txt-nombre" type="text" placeholder="Nombre de usuario" ></input>
                        </div>
                        <div class="form-item">
                            <h3>Fecha de Nacimiento</h3>
                            <input id="date-picker" type="date"></input>
                            
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <h3>Correo Electrónico</h3>
                            <input id="txt-correo" type="text" placeholder="Correo de usuario" ></input>
                        </div>
                        <div class="form-item">
                            <h3>Teléfono</h3>
                            <input id="txt-telefono" type="text" placeholder="Teléfono usuario" ></input>
                        </div>
                    </div>
                    <div class="form-line">
                        <div class="form-item">
                            <h3>Dirección Domiciliaria</h3>
                            <select id="select-departamento">
                                <option value="" disabled selected>Seleccione el departamento</option>
                            </select>
                            
                        </div>
                        <div class="form-item">
                            <h3>   </h3>
                            <select id="select-provincia">
                                <option value="" disabled selected>Seleccione la provincia</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <h3>   </h3>
                            <select id="select-distrito">
                                <option value="" disabled selected>Seleccione el distrito</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <h3>   </h3>
                            <input id="txt-dirección" type="text" placeholder="Dirección usuario" ></input>
                        </div>
                    </div>
                    
                   

                </div>

                <div class="form-line">
                    <div class="content-container-item-bottom">
                        <button id="btn-cancelar" class="button-red">Cancelar</button>
                        <button id="btn-guardar" class="button-red">Guardar</button>
                    </div>
                    
                </div>

                

            </div>




            </section>

        </main>
        <%- include('../layouts/footer'); %>
    <script type="text/javascript" src="../public/scripts/client/usuarioMiCuentaEditar.js"></script>
    <script type="text/javascript" src="../public/scripts/client/headerUsuario.js"></script>

</body>
</html>