<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página principal SOAT</title>
    <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon.png">
    <link rel="stylesheet" href="../public/stylesheets/client/headerSimple.css">
    <link rel="stylesheet" href="../public/stylesheets/client/footer.css">
    <link rel="stylesheet" href="../public/stylesheets/client/error.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>

<body class="container">

<%- include('client/layouts/headerSimple'); %>


<main>
    <div class="error-msj-principal">
        <h1 style="font-size: 50px;">╮( ˘_˘ )╭</h1>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <button onclick="window.location.href='/'" class ="button-red-transparente-red-border" > Volver al inicio </button>
    </div>
</main>


<%- include('client/layouts/footer'); %>

</body>

</html>


