<link rel="stylesheet" href="/public/stylesheets/admin/footer.css">
<footer class ="admin-footer">
    <div class="admin-footer-logo">
        <img src="/public/resources/logos/logo-blue-back.png">
    </div>
</footer>
