<link rel="stylesheet" href="../public/stylesheets/admin/header.css">
<header class="admin-header">
    <div class="admin-header-info-container">
        <a href="/admin/planSOAT" class="admin-header-logo">
            <img src="/public/resources/logos/logo-blue-back.png" alt="Logo de Union Seguros">
        </a>
        <nav class="admin-header-navbar">
            <div class="admin-header-navbar-item">
                <button class="admin-header-navbar-item-button">Ventas</button>
                <div class="admin-header-navbar-item-content">
                    <div class="admin-header-navbar-item-content-row">
                        <a href="/admin/ventas">Lista de ventas</a>
                    </div>
                    <div class="admin-header-navbar-item-content-row">
                        <a href="/admin/reporte-ventas">Reporte de ventas</a>
                    </div>
                </div>
            </div>
            <div class="admin-header-navbar-item">
                <button onclick="window.location.href='/admin/clientes'" class="admin-header-navbar-item-button">Clientes</button>
            </div>
            <div class="admin-header-navbar-item">
                <button class="admin-header-navbar-item-button">Seguros</button>
                <div class="admin-header-navbar-item-content">
                    <div class="admin-header-navbar-item-content-row">
                        <a href="/admin/planSOAT">SOAT</a>
                    </div>
                    <div class="admin-header-navbar-item-content-row">
                        <a href="/admin/planSeguroVehicular">Seguro vehicular</a>
                    </div>
                </div>
            </div>
            <div class="admin-header-navbar-item">
                <button class="admin-header-navbar-item-button">Usuarios</button>
                <div class="admin-header-navbar-item-content">
                    <div class="admin-header-navbar-item-content-row">
                        <a href="/admin/usuario">Usuario</a>
                    </div>
                </div>
            </div>
            <div class="admin-header-navbar-item">
                <button onclick="window.location.href='/admin/vehiculos'" class="admin-header-navbar-item-button">Vehiculos</button>
            </div>
        </nav>
        <div class="group-user-navbar-item">
            <button id="group-user-button">
                <img id="group-user-button-icon" src="/public/resources/icons/Human.png" alt="Icono Usuario">
            </button>
            <div class="group-user-item-content">
                <div class="group-user-button-content-row">
                    <a href="/admin">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</header>