<link rel="stylesheet" href="/public/stylesheets/admin/headerSimple.css">
<header class="admin-header-simple">
    <a href="/admin" class="admin-header-simple-logo">
        <img src="/public/resources/logos/logo-blue-back.png">
    </a>
    <p>Administrador</p>
</header>
<script src="../public/scripts/auditoria.js"></script>