<div id="control-bar">
    <!-- buttons for magination -->
    <button class="button-blue-transparente-blue-border" id="btn-first"> << </button>
    <button class="button-blue-transparente-blue-border" id="btn-previous"> < </button>
    <p id="p-pagination"> 1 de 1 </p>
    <button class="button-blue-transparente-blue-border" id="btn-next"> > </button>
    <button class="button-blue-transparente-blue-border" id="btn-last"> >> </button>
</div>
<link rel="stylesheet" href="../public/stylesheets/admin/pagination.css">