<div>
    <h2>Iniciar Sesi칩n</h2>
    <label>Usuario</label>
    <input type="text" id="user" name="user" placeholder="Usuario">
    <label>Contrase침a</label>
    <input type="password" id="password" name="password" placeholder="Contrase침a">
    <button id="login-button" class="button-red">Iniciar Sesi칩n</button>
</div>