<section class ="main-seguros">
    <div class="textoInicial">
        <h1>Unidos protegemos lo que más quieres</h1>
        <p> Conoce nuestros seguros:</p>
    </div>
    <div class="main-seguros-container">
        <div class="cuadro-seguro">
            <img src="public/resources/images/seguroVehicularBox.png" alt="Imagen del cuadro de Seguro Vehicular">
            <div class="cuadro-seguro-content">
                <div class="cuadroTextoNombreSeguro">
                    <p>SEGURO VEHÍCULAR</p>
                </div>
                <div class="cuadroTextoTitulo">
                    <p>Protege tu auto y ahorra pagando desde 25$ mensuales.</p>
                </div>
                <div class="cuadroTextoDescriptivo">
                    <p>Aseguramos tu tranquilidad ante cualquier accidente o robo que sufra tu vehículo. Además, podras aprovechar múltiples descuentos y beneficios.</p>
                </div>
            </div>
            <button class ="button-red" id = "cotizar" > Cotizar </button>
        </div>
        <div class="cuadro-seguro">
            <img src="public/resources/images/soatBox.png" alt="Imagen del cuadro de SOAT">
            <div class="cuadro-seguro-content">
                <div class="cuadroTextoNombreSeguro">
                    <p>SOAT ELECTRÓNICO</p>
                </div>
                <div class="cuadroTextoTitulo">
                    <p>Consigue fácil y en minutos tu SOAT electrónico desde S/. 50 al año.</p>
                </div>
                <div class="cuadroTextoDescriptivo">
                    <p>Además de protegerte obtendrás descuentos en más de 70 establecimientos afiliados y los mejores planes de renovación.</p>
                </div>
            </div>
            <button class ="button-red" id = "cotizar"> Cotizar </button>
        </div>

    </div>
</section>
<section class="main-info">

    <div class="main-info-container">
        <h2>Por qué Union Seguros es diferente</h2>
        <div class="diferencia">
            <img src="public/resources/icons/personal-escucha.png" alt="Logo Te Escuchamos">
            <div class="textoDiferencia">
                <h3>Te escuchamos.</h3>
                <p>La satisfacción de nuestros clientes es nuestra prioridad, por lo que atenderlos nos permite entender sus necesidades y ofrecer soluciones adaptadas a sus requerimientos.</p>
            </div>
        </div>
        <div class="diferencia">
            <img src="public/resources/icons/ahorro.png" alt="Logo Ahorra Siempre">
            <div class="textoDiferencia">
                <h3>Ahorra siempre.</h3>
                <p>Nos esforzamos por mantener una gestión financiera responsable y eficiente para poder ofrecerte precios más bajos y accesibles sin sacrificar la calidad de nuestros servicios.</p>
            </div>
        </div>
        <div class="diferencia">
            <img src="public/resources/icons/personal-profesional.png" alt="Logo Profesionalismo">
            <div class="textoDiferencia">
                <h3>Profesionalismo.</h3>
                <p>Invertimos constantemente en la capacitación de nuestro equipo para brindarte un servicio de seguros de calidad y de vanguardia.</p>
            </div>
        </div>
    </div>

</section>