<div class="main-container">
    <div class="content-container">
        <h1>Iniciar sesión</h1>
        <div class="bloque-items-input">
            <div class="item-registro">
                <h3>Número de Documento</h3>
                <input placeholder="Ingrese número" id = "txt-documento" ></input>
            </div>
            <div class="item-registro">
                <h3>Contraseña</h3>
                <input type="password" placeholder="Ingrese número" id = "txt-contrasena" ></input>
            </div>
        </div>
        <div class="botones-registro">
            <button id="registro-btn" onclick="window.location.href='/login'" class="button-red-transparente-red-border">Registrarse</button>
            <button id="ingresar-btn" onclick="window.location.href='/usuarioo'" class="button-red">Ingresar</button>
        </div>
    </div>
</div>
<script src="public/scripts/login.js"></script>