
  .content-container{
    margin-top: 20px;
    height: auto;
  }

  .content-container-item bottom{
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .info-vehi-form h2{
    margin-left: 20px;
  }