.content-container {
    width: 80vw;
    margin: 140px auto;
    justify-content: center;
}

.content-container-item bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.info-vehi-form h2 {
    margin-left: 20px;
}

#content-container-item-regresar {
    margin-bottom: 50px;
}