.main-container{
    height: 762px;
    background: linear-gradient(3deg, rgba(220,240,255,1) 0%, rgba(255,255,255,1) 50%, rgba(220,240,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: white;
    height: fit-content;
    width: fit-content;
    max-width: 500px;
    min-width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 20px 5px;
    padding: 50px 50px 20px 50px;
}

.bloque-items-input{
    width: 100%;
    margin-top: 25px;
}

.bloque-items-input input{
    font-size: 16px;
    width: 90%;
}

.item-registro{
    margin-bottom: 25px;
}


.content-container-item{
    margin: 10px;
    padding: 10px;
}

.botones-registro{
    display: flex;
    justify-content: right;
}

