.admin-header{
    position: fixed;
    top:0; left:0; right:0;
    background-color: #041E42;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    padding: 0 200px;

    margin-bottom: 5000px;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    text-decoration: none;
    display: block;
}

.admin-header-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-header-logo {
    position: relative;
    height: 100%;
    float: left;
}

.admin-header-logo img{
    width: 120px;
    height: auto;
}

.admin-header-navbar {
    display: flex;
    flex-direction: row;
}

.admin-header-navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.admin-header-navbar-item{
    overflow: hidden;
    display: block;
}

.admin-header-navbar-item-button {
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    padding: 25px 40px;
    background: inherit;
    height: 100%;
    width: 100%;
}

.admin-header-navbar  .admin-header-navbar-item:hover .admin-header-navbar-item-button {
    background: white;
    color: #333333;
}

.admin-header-navbar-item-content {
    padding: 25px;
    background: #333333;
    border-top: 5px solid #404040;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}

.admin-header-navbar-item:hover .admin-header-navbar-item-content {
    display: block;
}

.admin-header-navbar-item-content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 250px;
    width: 50%;
    height: 70px;
    background: #333333;
}

.admin-header-navbar-item-content-row a {
    display: block;
    margin-bottom: 6px;
    color: white; /*letra del título de la opción*/
    text-align: left;
    padding: 0;
    font-size: 18px;
}

.admin-header-navbar-item-content-row p {
    display: block;
    color: #041E42;
    font-size: 14px;
}

.admin-header-navbar-item-content-row a:hover {
    color: #C8102E;
    background: none;
}




@media(max-width: 1500px){
    .admin-header-navbar{
        margin-right: 0;
    }
}

.admin-header-group-search-login{
    display: flex;
    flex-direction: row;
}








.group-user-navbar-item{
    overflow: hidden;
    display: block;
}

#group-user-button {
    font-size: 18px;
    text-align: center;
    border: none;
    outline: none;
    color: white;
    padding: 20px;
    background: inherit;
    height: 100%;
    width: 100%;
}

#group-user-button-icon{
    height: 28px;
    width: 28px;
}

.admin-header-navbar  .group-user-navbar-item #group-user-button {
    background: white;
    color: #333333;
}

.group-user-item-content {
    padding: 25px 30px;
    background: #333333;
    border-top: 5px solid #404040;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: none;
    position: absolute;
    justify-content: center;
    text-align: center;
    right: 155px;
    width: auto;
    z-index: 10;
    transform: translate(0, 0);
}

.group-user-navbar-item:hover .group-user-item-content {
    display: block;
}

.group-user-button-content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #333333;
}

.group-user-button-content-row a {
    display: block;
    margin-bottom: 6px;
    color: white; /*letra del título de la opción*/
    text-align: left;
    padding: 0;
    font-size: 18px;
    text-decoration: none;
}

.group-user-button-content-row a:hover {
    color: #C8102E;
    background: none;
    text-decoration: none;
}
