<header class="client-header-simple">
    <a href="/SOAT" class="client-header-simple-logo">
        <img src="public/resources/logos/logo-red-white-back.png">
    </a>
    <a class="client-header-simple-logo" href="tel:(1)888-9999" >
        <img src="public/resources/icons/Communication.png">
        <h3>(1)888-9999</h3>
    </a>
</header>