
<link rel="stylesheet" href="/public/stylesheets/client/headerUsuario.css">
<link rel="stylesheet" href="/public/stylesheets/client/header.css">
<script type="text/javascript" src="../public/scripts/client/headerUsuario.js"></script>
<header class="client-header">
    <div class="client-header-info-container">
        <a href="/" class="client-header-logo">
            <img src="/public/resources/logos/logo-transparent-back.png" alt="Logo de Union Seguros">
        </a>
        <nav class="client-header-navbar">
            <div class="client-header-navbar-item">
                <button onclick="window.location.href='/usuario'" class="client-header-navbar-item-button">Inicio</button>
            </div>
            <div class="client-header-navbar-item">
                <button onclick="window.location.href='/usuarioMiCuenta'" class="client-header-navbar-item-button">Mi Cuenta</button>
            </div>

        </nav>
        <div class="client-header-group-login-tel">
            <a class="client-header-navbar-telefono" href="tel:(1)888-9999">
                <img src="/public/resources/icons/Communication.png">
                <h3>(1)888-9999</h3>
            </a>
            <div class="group-user-navbar-item">
                <button id="group-user-button" class="button-red-transparente-red-border">
                    <div id="group-user-button-icon"></div>
                    <span id="group-user-button-text">Obtener nombre</span>
                </button>
                <div class="group-user-item-content">
                    <div class="group-user-button-content-row">
                        <a href="/iniciarSesion">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
