<link rel="stylesheet" href="/public/stylesheets/client/header.css">
<header class="client-header">
    <div class="client-header-info-container">
        <a href="/" class="client-header-logo">
            <img src="/public/resources/logos/logo-transparent-back.png" alt="Logo de Union Seguros">
        </a>
        <nav class="client-header-navbar">
            <div class="client-header-navbar-item">
                <button class="client-header-navbar-item-button">Seguros ▾</button>
                <div class="client-header-navbar-item-content">
                    <div class="client-header-navbar-item-content-row">
                        <a href="/soat">SOAT</a>
                        <p class="descripcion">Protege a todos de accidentes de tránsito</p>
                    </div>
                    <div class="client-header-navbar-item-content-row">
                        <a href="/seguroVehicular">SEGURO VEHICULAR</a>
                        <p class="descripcion">Cuida tu auto ante daños</p>
                    </div>
                </div>
            </div>

            <div class="client-header-navbar-item">
                <button class="client-header-navbar-item-button">Atención al cliente ▾</button>
                <div class="client-header-navbar-item-content">
                    <div class="client-header-navbar-item-content-row">
                        <a href="tel:(1)888-9999">ATENCIÓN A RECLAMOS</a>
                        <p class="descripcion">(01)888-9999</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="client-header-group-login-tel">
            <a href="/iniciarSesion" class="client-header-navbar-user-button">
                <button class="button-red-transparente-red-border">Iniciar sesión</button>
            </a>
            <a class="client-header-navbar-telefono" href="tel:(1)888-9999">
                <img src="/public/resources/icons/Communication.png">
                <h3>(1)888-9999</h3>
            </a>
        </div>
    </div>
</header>