<header class="indexHeader">
    <a href="/" class="logoPrincipal">
        <img src="public/resources/logos/logo-transparent-back.png" alt="Logo de Union Seguros">
    </a>
    <nav class="navbar">
        <div class="d">
            <button class="d-btn">Seguros</button>
            <div class="d-content">
                <div class="row-item">
                    <a href="/soat">SOAT</a>
                    <p class="descripcion">Protege a todos de accidentes de tránsito</p>
                </div>
                <div class="row-item">
                    <a href="/segurovehicular">SEGUROS VEHICULARES</a>
                    <p class="descripcion">Cuida tu auto ante daños</p>
                </div>
            </div>
        </div>
        <div class="d">
            <button class="d-btn">Atención al cliente</button>
            <div class="d-content">
                <div class="row-item">
                    <a href="tel:(1)888-9999">ATENCIÓN A RECLAMOS</a>
                    <p class="descripcion">(01)888-9999</p>
                </div>
            </div>
        </div>
    </nav>
    <a href="/iniciarSesion" class="iniciarSesion">
        <button class ="button-red-transparente-red-border">Iniciar sesión</button>
    </a>

    <a class="telefono" href="tel:(1)888-9999" >
        <img src="public/resources/icons/Communication.png">
        <h3>(1)888-9999</h3>
    </a>
</header>