.error-msj-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 612px;
}

.error-msj-principal h2{
    margin-bottom: 70px;
}