*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    text-decoration: none;
}

.client-header{
    position: fixed;
    top:0; left:0; right:0;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 0 300px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.client-header-logo {
    position: relative;
    height: 100%;
    float: left;
}
<<<<<<< HEAD:Client-side/unionseguros/public/stylesheets/client/header.css

.client-header-logo img{
    width: 100px;
    height: auto;
}

.client-header-navbar {
=======
.logoPrincipal img{
    width: 110px;
    height: auto;
}

/************opciones*********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    text-decoration: none;
    display: block;
}
.navbar {
>>>>>>> main:Client-side/unionseguros/public/stylesheets/indexHeader.css
    overflow: hidden;
    justify-items: center;
    margin-right: 25%;
    margin-left: 10%;
}

.client-header-navbar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.client-header-navbar-item{
    float: left;
    overflow: hidden;
}

.client-header-navbar-item-button {
    font-size: 18px;
    border: none;
    outline: none;
    color: black; /*la letra de "MORE"*/
    padding: 25px 40px;
    background: inherit;
}

.client-header-navbar  .client-header-navbar-item:hover .client-header-navbar-item-button {
    background: #C8102E;
    color: #fff;
}

.client-header-navbar-item-content {
    padding: 25px;
    background: white;
    border-top: 5px solid #C8102E;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: none;
    position: absolute;

    width: 100%;
    left: 0;
    z-index: 10;
}

.client-header-navbar-item:hover .client-header-navbar-item-content {
    display: block;
}

.client-header-navbar-item-content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 250px;
    width: 50%;
    height: 70px;
    background: white;
}

.client-header-navbar-item-content-row a {
    display: block;
    margin-bottom: 10px;
    color: #041E42; /*letra del título de la opción*/
    font-weight: bold;
    text-align: left;
    padding: 0;
    font-size: 18px;
}

.client-header-navbar-item-content-row p {
    display: block;
    color: #041E42;
    font-size: 14px;

}

.client-header-navbar-item-content-row a:hover {
    color: #C8102E;
    background: none;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

@media(max-width: 650px){
    .column {
        width: 100%;
        height: auto;
    }
}

.client-header-navbar-telefono {
    float: right;
    display: flex;
    align-items: center;
    color: #C8102E;
    text-decoration: none;
    float: right;
}

.client-header-navbar-telefono img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}