.form-div-plans {
    display: none;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }
  
  .form-payment{
    display: none;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }

  .form-personal{
    display: none;
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
  }

.content-plan {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 10px;
  justify-content: center;
}

.content-planes {
  display: flex;
}

.plan-seguro-vehicular {
  width: 230px;
  height: 160px;
  margin: 10px;
  padding: 20px 10px 10px 10px;
  background-color: rgb(243, 244, 252);
  border: 1px solid #041E42;
  border-radius: 5px;
  align-content: center;
}

.plan-seguro-vehicular h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.plan-seguro-vehicular h1 {
  font-size: 30px;
  color: #041E42;
  margin-bottom: 10px;
  text-align: center;
}

.plan-seguro-vehicular ul {
  margin: 25px 0 50px 0;
  padding: 0;
}

.plan-seguro-vehicular li {
  font-size: 18px;
  margin-bottom: 5px;
}

.plan-seguro-vehicular .button-red-white-back{
  text-align: center;
}
  
  
  .client-seguro-proceso-content-container-item {
    margin: 10px;
    padding: 10px;

  }
  
  .form-container{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,211,211,1) 53%, rgba(255,255,255,1) 100%);
  }

  #total{
    font-size: 32px;
    text-align: center;
  }
  .checkbox_benefit{
    transform: scale(2);
    display: flex;
    margin: 25px auto 0 auto;
  }

  /*------------RESUMEN------------*/
  
  .form-result {
    display: none;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 30px;
  }

.form-result h1{
  text-align: center;
}

.form-result p{
  font-size: 18px;
  margin-bottom: 10px;
}
  
  #btn-descargar-constancia {
    display: none;
  }

  h1{
    text-align: center;
  }