
.form-payment{
  display: none;
  width: fit-content;
  height: fit-content;
  margin-bottom: 10px;
}

.content-plan {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 10px;
}

.content-planes {
  display: flex;
}

.plan-soat {
  width: 250px;
  margin: 10px;
  padding: 20px 50px;
  background-color: rgba(255, 240, 240, 0.99);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.plan-soat h2 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}

.plan-soat h1 {
  font-size: 30px;
  color: #041E42;
  margin-bottom: 10px;
  text-align: center;
}

.plan-soat ul {
  margin: 25px 0 50px 0;
  padding: 0;
}

.plan-soat li {
  font-size: 18px;
  margin-bottom: 5px;
}

.plan-soat .button-red-white-back{
  text-align: center;
}

.client-soat-proceso-content-container-item {
  margin: 10px;
  padding: 10px;
}

.form-container{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,211,211,1) 53%, rgba(255,255,255,1) 100%);
}

/*------------TARJETA------------*/

.card {
  width: 17.5rem;
  height: 11rem;
  background: rgb(200, 16, 46);
  background: linear-gradient(164deg, rgba(200, 16, 46, 0.6783088235294117) 28%, rgba(255, 255, 255, 1) 100%);
  border-radius: 0.7rem;
  padding: 1.3rem 1.6rem;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px 5px;
  margin-bottom: 30px;
  position: relative;
}

#card-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 3rem;

}

/*------------RESUMEN------------*/

.form-result {
  display: none;
  flex-direction: column;
  margin: 10px 10px 30px 10px;
}

.form-result p{
  font-size: 18px;
  margin-bottom: 10px;
}

#btn-descargar-constancia {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}